<p>ようこそ、ながのCAKEへ</p></br>
<p>このサイトはケーキ販売のECサイトとなります。</p><br>
<p>会員でない方も商品の閲覧はできますが</p><br>
<p>購入には会員登録が必要になります。<p>
<h1>新着商品</h1>
<table>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>
</table>
