<h1>会員一覧</h1>
<table>
<tr>
  <th>会員ID</th>
  <th>氏名</th>
  <th>アドレス</th>
  <th>販売ステータス</th>
</tr>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.full_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.status_text %></td>
  </tr>
<% end %>
